body {
  background-color: #f1f2f5 !important;
}

.text_about_us {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
}

.card_aboutus .card {
  margin-bottom: 5px;
  border-radius: 15px;
  border: none !important;
  background-color: #f1f2f5;
}
.card_aboutus {
  margin-bottom: 5px;
}

.card_aboutus p {
  font-family: "Arvo", serif;
  /* font-family: "Crimson Text", serif; */
  text-align: justify;
  text-justify: inter-word;
}

.card_aboutus p {
  font-size: 15px;
}

.card-body img {
  height: 100px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card_aboutus p {
    text-align: justify;
    text-justify: inter-word;
  }
}
